src/main/resources/camt.052.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by SWIFTStandards Workstation (build:R6.0.1.1) on 2007 Mar 28 10:37:39-->
<xs:schema elementFormDefault="qualified"
    targetNamespace="urn:iso:std:iso:20022:tech:xsd:camt.052.001.01"
    xmlns="urn:iso:std:iso:20022:tech:xsd:camt.052.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AccountIdentification3Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="IBAN" type="IBANIdentifier"/>
                <xs:element name="BBAN" type="BBANIdentifier"/>
                <xs:element name="UPIC" type="UPICIdentifier"/>
                <xs:element name="PrtryAcct" type="SimpleIdentificationInformation2"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AccountInterest1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="InterestType1Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Rate" type="Rate1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FrToDt" type="DateTimePeriodDetails"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Rsn" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AccountReport9">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ElctrncSeqNb" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LglSeqNb" type="Number"/>
            <xs:element name="CreDtTm" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FrToDt" type="DateTimePeriodDetails"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CpyDplctInd" type="CopyDuplicate1Code"/>
            <xs:element name="Acct" type="CashAccount13"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RltdAcct" type="CashAccount7"/>
            <xs:element maxOccurs="unbounded" minOccurs="0"
                name="Intrst" type="AccountInterest1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Bal" type="CashBalance1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TxsSummry" type="TotalTransactions1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Ntry" type="ReportEntry1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRptInf" type="Max500Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AddressType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADDR"/>
            <xs:enumeration value="PBOX"/>
            <xs:enumeration value="HOME"/>
            <xs:enumeration value="BIZZ"/>
            <xs:enumeration value="MLTO"/>
            <xs:enumeration value="DLVY"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AlternateSecurityIdentification2">
        <xs:sequence>
            <xs:element name="Tp" type="Max35Text"/>
            <xs:element name="Id" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AmountAndCurrencyExchange2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="InstdAmt" type="AmountAndCurrencyExchangeDetails1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TxAmt" type="AmountAndCurrencyExchangeDetails1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CntrValAmt" type="AmountAndCurrencyExchangeDetails1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AnncdPstngAmt" type="AmountAndCurrencyExchangeDetails1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0"
                name="PrtryAmt" type="AmountAndCurrencyExchangeDetails2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AmountAndCurrencyExchangeDetails1">
        <xs:sequence>
            <xs:element name="Amt" type="CurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CcyXchg" type="CurrencyExchange3"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AmountAndCurrencyExchangeDetails2">
        <xs:sequence>
            <xs:element name="Tp" type="Max35Text"/>
            <xs:element name="Amt" type="CurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CcyXchg" type="CurrencyExchange3"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AmountRangeBoundary1">
        <xs:sequence>
            <xs:element name="BdryAmt" type="ImpliedCurrencyAndAmount"/>
            <xs:element name="Incl" type="YesNoIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="BBANIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{1,30}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BEIIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BalanceType1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="BalanceType8Code"/>
                <xs:element name="Prtry" type="Max35Text"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="BalanceType8Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="OPBD"/>
            <xs:enumeration value="ITBD"/>
            <xs:enumeration value="CLBD"/>
            <xs:enumeration value="XPCD"/>
            <xs:enumeration value="OPAV"/>
            <xs:enumeration value="ITAV"/>
            <xs:enumeration value="CLAV"/>
            <xs:enumeration value="FWAV"/>
            <xs:enumeration value="PRCD"/>
            <xs:enumeration value="IOPA"/>
            <xs:enumeration value="IITA"/>
            <xs:enumeration value="ICLA"/>
            <xs:enumeration value="IFWA"/>
            <xs:enumeration value="ICLB"/>
            <xs:enumeration value="IITB"/>
            <xs:enumeration value="IOPB"/>
            <xs:enumeration value="IXPC"/>
            <xs:enumeration value="DOPA"/>
            <xs:enumeration value="DITA"/>
            <xs:enumeration value="DCLA"/>
            <xs:enumeration value="DFWA"/>
            <xs:enumeration value="DCLB"/>
            <xs:enumeration value="DITB"/>
            <xs:enumeration value="DOPB"/>
            <xs:enumeration value="DXPC"/>
            <xs:enumeration value="COPA"/>
            <xs:enumeration value="CITA"/>
            <xs:enumeration value="CCLA"/>
            <xs:enumeration value="CFWA"/>
            <xs:enumeration value="CCLB"/>
            <xs:enumeration value="CITB"/>
            <xs:enumeration value="COPB"/>
            <xs:enumeration value="CXPC"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BankToCustomerAccountReportV01">
        <xs:sequence>
            <xs:element name="GrpHdr" type="GroupHeader23"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rpt" type="AccountReport9"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BankTransactionCodeStructure1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Domn" type="BankTransactionCodeStructure2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Prtry" type="ProprietaryBankTransactionCodeStructure1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BankTransactionCodeStructure2">
        <xs:sequence>
            <xs:element name="Cd" type="ExternalBankTransactionDomainCode"/>
            <xs:element name="Fmly" type="BankTransactionCodeStructure3"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BankTransactionCodeStructure3">
        <xs:sequence>
            <xs:element name="Cd" type="ExternalBankTransactionFamilyCode"/>
            <xs:element name="SubFmlyCd" type="ExternalBankTransactionSubFamilyCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="BaseOneRate">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BatchInformation1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtInfId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NbOfTxs" type="Max15NumericText"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BranchAndFinancialInstitutionIdentification3">
        <xs:sequence>
            <xs:element name="FinInstnId" type="FinancialInstitutionIdentification5Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BrnchId" type="BranchData"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BranchData">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstlAdr" type="PostalAddress1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CHIPSUniversalIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="CH[0-9]{6,6}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CashAccount13">
        <xs:sequence>
            <xs:element name="Id" type="AccountIdentification3Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="CashAccountType2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ccy" type="CurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ownr" type="PartyIdentification8"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Svcr" type="BranchAndFinancialInstitutionIdentification3"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CashAccount7">
        <xs:sequence>
            <xs:element name="Id" type="AccountIdentification3Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="CashAccountType2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ccy" type="CurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max70Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CashAccountType2">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="CashAccountType4Code"/>
                <xs:element name="Prtry" type="Max35Text"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CashAccountType4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CASH"/>
            <xs:enumeration value="CHAR"/>
            <xs:enumeration value="COMM"/>
            <xs:enumeration value="TAXE"/>
            <xs:enumeration value="CISH"/>
            <xs:enumeration value="TRAS"/>
            <xs:enumeration value="SACC"/>
            <xs:enumeration value="CACC"/>
            <xs:enumeration value="SVGS"/>
            <xs:enumeration value="ONDP"/>
            <xs:enumeration value="MGLD"/>
            <xs:enumeration value="NREX"/>
            <xs:enumeration value="MOMA"/>
            <xs:enumeration value="LOAN"/>
            <xs:enumeration value="SLRY"/>
            <xs:enumeration value="ODFT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CashBalance1">
        <xs:sequence>
            <xs:element name="Tp" type="BalanceType1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CdtLine" type="CreditLine1"/>
            <xs:element name="Amt" type="CurrencyAndAmount"/>
            <xs:element name="CdtDbtInd" type="CreditDebitCode"/>
            <xs:element name="Dt" type="DateAndDateTimeChoice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0"
                name="Avlbty" type="CashBalanceAvailability1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CashBalanceAvailability1">
        <xs:sequence>
            <xs:element name="Dt" type="CashBalanceAvailabilityDate1"/>
            <xs:element name="Amt" type="CurrencyAndAmount"/>
            <xs:element name="CdtDbtInd" type="CreditDebitCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CashBalanceAvailabilityDate1">
        <xs:sequence>
            <xs:choice>
                <xs:element name="NbOfDays" type="Max15PlusSignedNumericText"/>
                <xs:element name="ActlDt" type="ISODate"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ChargeBearerType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DEBT"/>
            <xs:enumeration value="CRED"/>
            <xs:enumeration value="SHAR"/>
            <xs:enumeration value="SLEV"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ChargeType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BRKF"/>
            <xs:enumeration value="COMM"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ChargeTypeChoice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="ChargeType1Code"/>
                <xs:element name="PrtryCd" type="Max4AlphaNumericText"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ChargesInformation3">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0"
                name="TtlChrgsAndTaxAmt" type="CurrencyAndAmount"/>
            <xs:element name="Amt" type="CurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="ChargeTypeChoice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Rate" type="PercentageRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Br" type="ChargeBearerType1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Pty" type="BranchAndFinancialInstitutionIdentification3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tax" type="TaxCharges1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ClearingSystemMemberIdentification3Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Id" type="ExternalClearingSystemMemberCode"/>
                <xs:element name="Prtry" type="Max35Text"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CopyDuplicate1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CODU"/>
            <xs:enumeration value="COPY"/>
            <xs:enumeration value="DUPL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CorporateAction1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Cd" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nb" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Prtry" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CreditDebitCode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CRDT"/>
            <xs:enumeration value="DBIT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CreditLine1">
        <xs:sequence>
            <xs:element name="Incl" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Amt" type="CurrencyAndAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CreditorReferenceInformation1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="CdtrRefTp" type="CreditorReferenceType1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CdtrRef" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CreditorReferenceType1">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="DocumentType3Code"/>
                <xs:element name="Prtry" type="Max35Text"/>
            </xs:choice>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:minInclusive value="0"/>
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="CurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="CurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="CurrencyAndAmountRange">
        <xs:sequence>
            <xs:element name="Amt" type="ImpliedCurrencyAmountRangeChoice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CdtDbtInd" type="CreditDebitCode"/>
            <xs:element name="Ccy" type="CurrencyCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CurrencyExchange3">
        <xs:sequence>
            <xs:element name="SrcCcy" type="CurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TrgtCcy" type="CurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UnitCcy" type="CurrencyCode"/>
            <xs:element name="XchgRate" type="BaseOneRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrctId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="QtnDt" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DateAndDateTimeChoice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Dt" type="ISODate"/>
                <xs:element name="DtTm" type="ISODateTime"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DateAndPlaceOfBirth">
        <xs:sequence>
            <xs:element name="BirthDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrvcOfBirth" type="Max35Text"/>
            <xs:element name="CityOfBirth" type="Max35Text"/>
            <xs:element name="CtryOfBirth" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DateTimePeriodDetails">
        <xs:sequence>
            <xs:element name="FrDtTm" type="ISODateTime"/>
            <xs:element name="ToDtTm" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="DecimalNumber">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="17"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="BkToCstmrAcctRptV01" type="BankToCustomerAccountReportV01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="DocumentType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MSIN"/>
            <xs:enumeration value="CNFA"/>
            <xs:enumeration value="DNFA"/>
            <xs:enumeration value="CINV"/>
            <xs:enumeration value="CREN"/>
            <xs:enumeration value="DEBN"/>
            <xs:enumeration value="HIRI"/>
            <xs:enumeration value="SBIN"/>
            <xs:enumeration value="CMCN"/>
            <xs:enumeration value="SOAC"/>
            <xs:enumeration value="DISP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DocumentType3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="RADM"/>
            <xs:enumeration value="RPIN"/>
            <xs:enumeration value="FXDR"/>
            <xs:enumeration value="DISP"/>
            <xs:enumeration value="PUOR"/>
            <xs:enumeration value="SCOR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DunsIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{9,9}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="EANGLNIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{13,13}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="EntryStatus2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BOOK"/>
            <xs:enumeration value="PDNG"/>
            <xs:enumeration value="INFO"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="EntryTransaction1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Refs" type="TransactionReferences1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AmtDtls" type="AmountAndCurrencyExchange2"/>
            <xs:element maxOccurs="unbounded" minOccurs="0"
                name="Avlbty" type="CashBalanceAvailability1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BkTxCd" type="BankTransactionCodeStructure1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Chrgs" type="ChargesInformation3"/>
            <xs:element maxOccurs="unbounded" minOccurs="0"
                name="Intrst" type="TransactionInterest1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RltdPties" type="TransactionParty1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RltdAgts" type="TransactionAgents1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Purp" type="Purpose1Choice"/>
            <xs:element maxOccurs="10" minOccurs="0" name="RltdRmtInf" type="RemittanceLocation1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RmtInf" type="RemittanceInformation1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RltdDts" type="TransactionDates1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RltdPric" type="TransactionPrice1Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0"
                name="RltdQties" type="TransactionQuantities1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FinInstrmId" type="SecurityIdentification4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tax" type="TaxInformation2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RtrInf" type="ReturnReasonInformation5"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CorpActn" type="CorporateAction1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SfkpgAcct" type="CashAccount7"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlTxInf" type="Max500Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ExternalBankTransactionDomainCode">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalBankTransactionFamilyCode">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalBankTransactionSubFamilyCode">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalClearingSystemMemberCode">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalPurposeCode">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FinancialInstitutionIdentification3">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="BIC" type="BICIdentifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClrSysMmbId" type="ClearingSystemMemberIdentification3Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstlAdr" type="PostalAddress1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrtryId" type="GenericIdentification3"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FinancialInstitutionIdentification5Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="BIC" type="BICIdentifier"/>
                <xs:element name="ClrSysMmbId" type="ClearingSystemMemberIdentification3Choice"/>
                <xs:element name="NmAndAdr" type="NameAndAddress7"/>
                <xs:element name="PrtryId" type="GenericIdentification3"/>
                <xs:element name="CmbndId" type="FinancialInstitutionIdentification3"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FinancialInstrumentQuantityChoice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Unit" type="DecimalNumber"/>
                <xs:element name="FaceAmt" type="ImpliedCurrencyAndAmount"/>
                <xs:element name="AmtsdVal" type="ImpliedCurrencyAndAmount"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FromToAmountRange">
        <xs:sequence>
            <xs:element name="FrAmt" type="AmountRangeBoundary1"/>
            <xs:element name="ToAmt" type="AmountRangeBoundary1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification3">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification4">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="IdTp" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GroupHeader23">
        <xs:sequence>
            <xs:element name="MsgId" type="Max35Text"/>
            <xs:element name="CreDtTm" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgRcpt" type="PartyIdentification8"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgPgntn" type="Pagination"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="Max500Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="IBANIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="IBEIIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}[B-DF-HJ-NP-TV-XZ0-9]{7,7}[0-9]{1,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISINIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{12,12}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:complexType name="ImpliedCurrencyAmountRangeChoice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="FrAmt" type="AmountRangeBoundary1"/>
                <xs:element name="ToAmt" type="AmountRangeBoundary1"/>
                <xs:element name="FrToAmt" type="FromToAmountRange"/>
                <xs:element name="EQAmt" type="ImpliedCurrencyAndAmount"/>
                <xs:element name="NEQAmt" type="ImpliedCurrencyAndAmount"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ImpliedCurrencyAndAmount">
        <xs:restriction base="xs:decimal">
            <xs:minInclusive value="0"/>
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="InterestType1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="InterestType1Code"/>
                <xs:element name="Prtry" type="Max35Text"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="InterestType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="INDY"/>
            <xs:enumeration value="OVRN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max105Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="105"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max15NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,15}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max15PlusSignedNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[+]{0,1}[0-9]{1,15}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max256Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="256"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max34Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="34"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max4AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{1,4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max500Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="500"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max5NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,5}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MessageIdentification2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgNmId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgId" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NameAndAddress3">
        <xs:sequence>
            <xs:element name="Nm" type="Max70Text"/>
            <xs:element name="Adr" type="PostalAddress1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NameAndAddress7">
        <xs:sequence>
            <xs:element name="Nm" type="Max70Text"/>
            <xs:element name="PstlAdr" type="PostalAddress1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Number">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="0"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NumberAndSumOfTransactions1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="NbOfNtries" type="Max15NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Sum" type="DecimalNumber"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NumberAndSumOfTransactions2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="NbOfNtries" type="Max15NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Sum" type="DecimalNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TtlNetNtryAmt" type="DecimalNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CdtDbtInd" type="CreditDebitCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NumberAndSumOfTransactionsPerBankTransactionCode1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="NbOfNtries" type="Max15NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Sum" type="DecimalNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TtlNetNtryAmt" type="DecimalNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CdtDbtInd" type="CreditDebitCode"/>
            <xs:element name="BkTxCd" type="BankTransactionCodeStructure1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0"
                name="Avlbty" type="CashBalanceAvailability1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OrganisationIdentification2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="BIC" type="BICIdentifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IBEI" type="IBEIIdentifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BEI" type="BEIIdentifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EANGLN" type="EANGLNIdentifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="USCHU" type="CHIPSUniversalIdentifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DUNS" type="DunsIdentifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BkPtyId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TaxIdNb" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrtryId" type="GenericIdentification3"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Pagination">
        <xs:sequence>
            <xs:element name="PgNb" type="Max5NumericText"/>
            <xs:element name="LastPgInd" type="YesNoIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Party2Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="OrgId" type="OrganisationIdentification2"/>
                <xs:element maxOccurs="4" minOccurs="1" name="PrvtId" type="PersonIdentification3"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification8">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstlAdr" type="PostalAddress1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Party2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtryOfRes" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PercentageRate">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PersonIdentification3">
        <xs:sequence>
            <xs:choice>
                <xs:element name="DrvrsLicNb" type="Max35Text"/>
                <xs:element name="CstmrNb" type="Max35Text"/>
                <xs:element name="SclSctyNb" type="Max35Text"/>
                <xs:element name="AlnRegnNb" type="Max35Text"/>
                <xs:element name="PsptNb" type="Max35Text"/>
                <xs:element name="TaxIdNb" type="Max35Text"/>
                <xs:element name="IdntyCardNb" type="Max35Text"/>
                <xs:element name="MplyrIdNb" type="Max35Text"/>
                <xs:element name="DtAndPlcOfBirth" type="DateAndPlaceOfBirth"/>
                <xs:element name="OthrId" type="GenericIdentification4"/>
            </xs:choice>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PostalAddress1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrTp" type="AddressType2Code"/>
            <xs:element maxOccurs="5" minOccurs="0" name="AdrLine" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text"/>
            <xs:element name="Ctry" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ProprietaryAgent1">
        <xs:sequence>
            <xs:element name="Tp" type="Max35Text"/>
            <xs:element name="Agt" type="BranchAndFinancialInstitutionIdentification3"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ProprietaryBankTransactionCodeStructure1">
        <xs:sequence>
            <xs:element name="Cd" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ProprietaryDate1">
        <xs:sequence>
            <xs:element name="Tp" type="Max35Text"/>
            <xs:choice>
                <xs:element name="Dt" type="ISODate"/>
                <xs:element name="DtTm" type="ISODateTime"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ProprietaryParty1">
        <xs:sequence>
            <xs:element name="Tp" type="Max35Text"/>
            <xs:element name="Pty" type="PartyIdentification8"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ProprietaryPrice1">
        <xs:sequence>
            <xs:element name="Tp" type="Max35Text"/>
            <xs:element name="Pric" type="CurrencyAndAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ProprietaryQuantity1">
        <xs:sequence>
            <xs:element name="Tp" type="Max35Text"/>
            <xs:element name="Qty" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ProprietaryReference1">
        <xs:sequence>
            <xs:element name="Tp" type="Max35Text"/>
            <xs:element name="Ref" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Purpose1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="ExternalPurposeCode"/>
                <xs:element name="Prtry" type="Max35Text"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Rate1">
        <xs:sequence>
            <xs:element name="Rate" type="RateTypeChoice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="VldtyRg" type="CurrencyAndAmountRange"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RateTypeChoice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="PctgRate" type="PercentageRate"/>
                <xs:element name="TxtlRate" type="Max35Text"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ReferredDocumentAmount1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="DuePyblAmt" type="CurrencyAndAmount"/>
                <xs:element name="DscntApldAmt" type="CurrencyAndAmount"/>
                <xs:element name="RmtdAmt" type="CurrencyAndAmount"/>
                <xs:element name="CdtNoteAmt" type="CurrencyAndAmount"/>
                <xs:element name="TaxAmt" type="CurrencyAndAmount"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ReferredDocumentInformation1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="RfrdDocTp" type="ReferredDocumentType1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RfrdDocNb" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ReferredDocumentType1">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="DocumentType2Code"/>
                <xs:element name="Prtry" type="Max35Text"/>
            </xs:choice>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RemittanceInformation1">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Ustrd" type="Max140Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Strd" type="StructuredRemittanceInformation6"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RemittanceLocation1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="RmtId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RmtLctnMtd" type="RemittanceLocationMethod1Code"/>
            <xs:element maxOccurs="1" minOccurs="0"
                name="RmtLctnElctrncAdr" type="Max256Text"/>
            <xs:element maxOccurs="1" minOccurs="0"
                name="RmtLctnPstlAdr" type="NameAndAddress3"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="RemittanceLocationMethod1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FAXI"/>
            <xs:enumeration value="EDIC"/>
            <xs:enumeration value="URID"/>
            <xs:enumeration value="EMAL"/>
            <xs:enumeration value="POST"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ReportEntry1">
        <xs:sequence>
            <xs:element name="Amt" type="CurrencyAndAmount"/>
            <xs:element name="CdtDbtInd" type="CreditDebitCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RvslInd" type="TrueFalseIndicator"/>
            <xs:element name="Sts" type="EntryStatus2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BookgDt" type="DateAndDateTimeChoice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ValDt" type="DateAndDateTimeChoice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctSvcrRef" type="Max35Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0"
                name="Avlbty" type="CashBalanceAvailability1"/>
            <xs:element name="BkTxCd" type="BankTransactionCodeStructure1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ComssnWvrInd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInfInd" type="MessageIdentification2"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Btch" type="BatchInformation1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AmtDtls" type="AmountAndCurrencyExchange2"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Chrgs" type="ChargesInformation3"/>
            <xs:element maxOccurs="unbounded" minOccurs="0"
                name="Intrst" type="TransactionInterest1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0"
                name="TxDtls" type="EntryTransaction1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlNtryInf" type="Max500Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ReturnReason1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="TransactionRejectReason2Code"/>
                <xs:element name="Prtry" type="Max35Text"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ReturnReasonInformation5">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="OrgnlBkTxCd" type="BankTransactionCodeStructure1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RtrOrgtr" type="PartyIdentification8"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RtrRsn" type="ReturnReason1Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0"
                name="AddtlRtrRsnInf" type="Max105Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecurityIdentification4Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="ISIN" type="ISINIdentifier"/>
                <xs:element name="Prtry" type="AlternateSecurityIdentification2"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SimpleIdentificationInformation2">
        <xs:sequence>
            <xs:element name="Id" type="Max34Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="StructuredRemittanceInformation6">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="RfrdDocInf" type="ReferredDocumentInformation1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RfrdDocRltdDt" type="ISODate"/>
            <xs:element maxOccurs="unbounded" minOccurs="0"
                name="RfrdDocAmt" type="ReferredDocumentAmount1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CdtrRefInf" type="CreditorReferenceInformation1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Invcr" type="PartyIdentification8"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Invcee" type="PartyIdentification8"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRmtInf" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TaxCharges1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Rate" type="PercentageRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Amt" type="CurrencyAndAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TaxDetails">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="CertId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TaxTp" type="TaxType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TaxInformation2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="CdtrTaxId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CdtrTaxTp" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DbtrTaxId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TaxRefNb" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0"
                name="TtlTaxblBaseAmt" type="CurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TtlTaxAmt" type="CurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TaxDt" type="ISODate"/>
            <xs:element maxOccurs="unbounded" minOccurs="0"
                name="TaxTpInf" type="TaxDetails"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TaxType">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="CtgyDesc" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Rate" type="PercentageRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TaxblBaseAmt" type="CurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Amt" type="CurrencyAndAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TotalTransactions1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="TtlNtries" type="NumberAndSumOfTransactions2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TtlCdtNtries" type="NumberAndSumOfTransactions1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TtlDbtNtries" type="NumberAndSumOfTransactions1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0"
                name="TtlNtriesPerBkTxCd" type="NumberAndSumOfTransactionsPerBankTransactionCode1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransactionAgents1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="DbtrAgt" type="BranchAndFinancialInstitutionIdentification3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CdtrAgt" type="BranchAndFinancialInstitutionIdentification3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IntrmyAgt1" type="BranchAndFinancialInstitutionIdentification3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IntrmyAgt2" type="BranchAndFinancialInstitutionIdentification3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IntrmyAgt3" type="BranchAndFinancialInstitutionIdentification3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RcvgAgt" type="BranchAndFinancialInstitutionIdentification3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DlvrgAgt" type="BranchAndFinancialInstitutionIdentification3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IssgAgt" type="BranchAndFinancialInstitutionIdentification3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmPlc" type="BranchAndFinancialInstitutionIdentification3"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Prtry" type="ProprietaryAgent1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransactionDates1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AccptncDtTm" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TradDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IntrBkSttlmDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StartDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EndDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TxDtTm" type="ISODateTime"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Prtry" type="ProprietaryDate1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransactionInterest1">
        <xs:sequence>
            <xs:element name="Amt" type="CurrencyAndAmount"/>
            <xs:element name="CdtDbtInd" type="CreditDebitCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="InterestType1Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Rate" type="Rate1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FrToDt" type="DateTimePeriodDetails"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Rsn" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransactionParty1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="InitgPty" type="PartyIdentification8"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Dbtr" type="PartyIdentification8"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DbtrAcct" type="CashAccount7"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UltmtDbtr" type="PartyIdentification8"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Cdtr" type="PartyIdentification8"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CdtrAcct" type="CashAccount7"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UltmtCdtr" type="PartyIdentification8"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TradgPty" type="PartyIdentification8"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Prtry" type="ProprietaryParty1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransactionPrice1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="DealPric" type="CurrencyAndAmount"/>
                <xs:element maxOccurs="unbounded" minOccurs="1"
                    name="Prtry" type="ProprietaryPrice1"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransactionQuantities1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Qty" type="FinancialInstrumentQuantityChoice"/>
                <xs:element name="Prtry" type="ProprietaryQuantity1"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransactionReferences1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctSvcrRef" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InstrId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EndToEndId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TxId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MndtId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ChqNb" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClrSysRef" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Prtry" type="ProprietaryReference1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TransactionRejectReason2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AC01"/>
            <xs:enumeration value="AC04"/>
            <xs:enumeration value="AC06"/>
            <xs:enumeration value="AM01"/>
            <xs:enumeration value="AM02"/>
            <xs:enumeration value="AM03"/>
            <xs:enumeration value="AM04"/>
            <xs:enumeration value="AM05"/>
            <xs:enumeration value="AM06"/>
            <xs:enumeration value="AM07"/>
            <xs:enumeration value="BE01"/>
            <xs:enumeration value="BE04"/>
            <xs:enumeration value="BE05"/>
            <xs:enumeration value="AG01"/>
            <xs:enumeration value="AG02"/>
            <xs:enumeration value="DT01"/>
            <xs:enumeration value="RF01"/>
            <xs:enumeration value="RC01"/>
            <xs:enumeration value="TM01"/>
            <xs:enumeration value="ED01"/>
            <xs:enumeration value="ED03"/>
            <xs:enumeration value="MS03"/>
            <xs:enumeration value="MS02"/>
            <xs:enumeration value="BE06"/>
            <xs:enumeration value="BE07"/>
            <xs:enumeration value="AM09"/>
            <xs:enumeration value="AM10"/>
            <xs:enumeration value="MD01"/>
            <xs:enumeration value="MD02"/>
            <xs:enumeration value="MD03"/>
            <xs:enumeration value="MD04"/>
            <xs:enumeration value="MD06"/>
            <xs:enumeration value="MD07"/>
            <xs:enumeration value="ED05"/>
            <xs:enumeration value="NARR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TrueFalseIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:simpleType name="UPICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{8,17}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="YesNoIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
</xs:schema>
