src/pain.001.002.02.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 sp1 (http://www.altova.com) by XMLSpy 2008 Professional Ed. -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:swift:xsd:$pain.001.002.02" targetNamespace="urn:swift:xsd:$pain.001.002.02" elementFormDefault="qualified">
	<xs:element name="Document" type="Document"/>
	<xs:complexType name="AccountIdentificationSCT">
		<xs:sequence>
			<xs:element name="IBAN" type="IBANIdentifier"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AmountTypeSCT">
		<xs:sequence>
			<xs:element name="InstdAmt" type="CurrencyAndAmountSCT"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="BBANIdentifier">
		<xs:restriction base="xs:string">
			<xs:pattern value="[a-zA-Z0-9]{1,30}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BEIIdentifier">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BICIdentifier">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BatchBookingIndicator">
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	<xs:complexType name="BranchAndFinancialInstitutionIdentificationSCT">
		<xs:sequence>
			<xs:element name="FinInstnId" type="FinancialInstitutionIdentificationSCT"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="CHIPSUniversalIdentifier">
		<xs:restriction base="xs:string">
			<xs:pattern value="CH[0-9]{6,6}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CashAccountSCT1">
		<xs:sequence>
			<xs:element name="Id" type="AccountIdentificationSCT"/>
			<xs:element name="Ccy" type="CurrencyCode" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CashAccountSCT2">
		<xs:sequence>
			<xs:element name="Id" type="AccountIdentificationSCT"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ChargeBearerTypeSCTCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="SLEV"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CountryCode">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{2,2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CreditTransferTransactionInformationSCT">
		<xs:sequence>
			<xs:element name="PmtId" type="PaymentIdentification1"/>
			<xs:element name="PmtTpInf" type="PaymentTypeInformationSCT2" minOccurs="0">
				<xs:annotation>
					<xs:documentation>If used, it is recommended to be used at ‘Payment Information’ level and not at ‘Credit Transfer Transaction Information’ level.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Amt" type="AmountTypeSCT"/>
			<xs:element name="ChrgBr" type="ChargeBearerTypeSCTCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>It is recommended that this element be specified at ‘Payment Information’ level.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UltmtDbtr" type="PartyIdentificationSCT1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This data element may be present
either at ‘Payment Information’ or at ‘Credit Transfer Transaction Information’ level.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CdtrAgt" type="BranchAndFinancialInstitutionIdentificationSCT"/>
			<xs:element name="Cdtr" type="PartyIdentificationSCT2"/>
			<xs:element name="CdtrAcct" type="CashAccountSCT2"/>
			<xs:element name="UltmtCdtr" type="PartyIdentificationSCT1" minOccurs="0"/>
			<xs:element name="Purp" type="PurposeSCT" minOccurs="0"/>
			<xs:element name="RmtInf" type="RemittanceInformationSCTChoice" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CreditorReferenceInformationSCT">
		<xs:sequence>
			<xs:element name="CdtrRefTp" type="CreditorReferenceTypeSCT"/>
			<xs:element name="CdtrRef" type="Max35Text">
				<xs:annotation>
					<xs:documentation>If a Creditor Reference contains a check digit, the receiving bank is not required to validate this.
If the receiving bank validates the check digit and if this validation fails, the bank may continue its processing and send the transaction to the next party in the chain.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CreditorReferenceTypeSCT">
		<xs:sequence>
			<xs:element name="Cd" type="DocumentType3CodeSCT"/>
			<xs:element name="Issr" type="Max35Text" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="CurrencyAndAmount_SimpleTypeSCT">
		<xs:restriction base="xs:decimal">
			<xs:minInclusive value="0.01"/>
			<xs:maxInclusive value="999999999.99"/>
			<xs:fractionDigits value="2"/>
			<xs:totalDigits value="11"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CurrencyAndAmountSCT">
		<xs:simpleContent>
			<xs:extension base="CurrencyAndAmount_SimpleTypeSCT">
				<xs:attribute name="Ccy" type="CurrencyCodeSCT" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="CurrencyCode">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{3,3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CurrencyCodeSCT">
		<xs:restriction base="xs:string">
			<xs:enumeration value="EUR"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="DateAndPlaceOfBirth">
		<xs:sequence>
			<xs:element name="BirthDt" type="ISODate"/>
			<xs:element name="PrvcOfBirth" type="Max35Text" minOccurs="0"/>
			<xs:element name="CityOfBirth" type="Max35Text"/>
			<xs:element name="CtryOfBirth" type="CountryCode"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="DecimalNumber">
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="17"/>
			<xs:totalDigits value="18"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Document">
		<xs:sequence>
			<xs:element name="pain.001.001.02" type="pain.001.001.02"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="DocumentType3CodeSCT">
		<xs:restriction base="xs:string">
			<xs:enumeration value="SCOR"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DunsIdentifier">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{9,9}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EANGLNIdentifier">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{13,13}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalPurposeCode">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="FinancialInstitutionIdentificationSCT">
		<xs:sequence>
			<xs:element name="BIC" type="BICIdentifier"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GenericIdentification3">
		<xs:sequence>
			<xs:element name="Id" type="Max35Text"/>
			<xs:element name="Issr" type="Max35Text" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GenericIdentification4">
		<xs:sequence>
			<xs:element name="Id" type="Max35Text"/>
			<xs:element name="IdTp" type="Max35Text"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GroupHeaderSCT">
		<xs:sequence>
			<xs:element name="MsgId" type="RestrictedIdentification1"/>
			<xs:element name="CreDtTm" type="ISODateTime"/>
			<xs:element name="BtchBookg" type="BatchBookingIndicator" minOccurs="0">
				<xs:annotation>
					<xs:documentation>If present and contains ‘TRUE’, batch booking is requested. If present and contains ‘FALSE’, booking per transaction is requested. If element is not present, pre-agreed customer-to-bank conditions apply.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NbOfTxs" type="Max15NumericText"/>
			<xs:element name="CtrlSum" type="DecimalNumber" minOccurs="0"/>
			<xs:element name="Grpg" type="Grouping1CodeSCT"/>
			<xs:element name="InitgPty" type="PartyIdentificationSCT1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="Grouping1CodeSCT">
		<xs:restriction base="xs:string">
			<xs:enumeration value="MIXD"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IBANIdentifier">
		<xs:restriction base="xs:string">
			<xs:pattern value="[a-zA-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IBEIIdentifier">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{2,2}[B-DF-HJ-NP-TV-XZ0-9]{7,7}[0-9]{1,1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ISODate">
		<xs:restriction base="xs:date"/>
	</xs:simpleType>
	<xs:simpleType name="ISODateTime">
		<xs:restriction base="xs:dateTime"/>
	</xs:simpleType>
	<xs:simpleType name="Max140Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="140"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max15NumericText">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{1,15}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max16Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="16"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max35Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max3Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max70Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="70"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="OrganisationIdentificationSCTChoice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="BIC" type="BICIdentifier"/>
				<xs:element name="IBEI" type="IBEIIdentifier"/>
				<xs:element name="BEI" type="BEIIdentifier"/>
				<xs:element name="EANGLN" type="EANGLNIdentifier"/>
				<xs:element name="USCHU" type="CHIPSUniversalIdentifier"/>
				<xs:element name="DUNS" type="DunsIdentifier"/>
				<xs:element name="BkPtyId" type="Max35Text"/>
				<xs:element name="TaxIdNb" type="Max35Text"/>
				<xs:element name="PrtryId" type="GenericIdentification3"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PartySCTChoice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="OrgId" type="OrganisationIdentificationSCTChoice"/>
				<xs:element name="PrvtId" type="PersonIdentification3"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PartyIdentificationSCT1">
		<xs:sequence>
			<xs:element name="Nm" type="Max70Text" minOccurs="0"/>
			<xs:element name="Id" type="PartySCTChoice" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PartyIdentificationSCT2">
		<xs:sequence>
			<xs:element name="Nm" type="Max70Text"/>
			<xs:element name="PstlAdr" type="PostalAddressSCT" minOccurs="0"/>
			<xs:element name="Id" type="PartySCTChoice" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="PaymentCategoryPurpose1Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CORT"/>
			<xs:enumeration value="SALA"/>
			<xs:enumeration value="TREA"/>
			<xs:enumeration value="CASH"/>
			<xs:enumeration value="DIVI"/>
			<xs:enumeration value="GOVT"/>
			<xs:enumeration value="INTE"/>
			<xs:enumeration value="LOAN"/>
			<xs:enumeration value="PENS"/>
			<xs:enumeration value="SECU"/>
			<xs:enumeration value="SSBE"/>
			<xs:enumeration value="SUPP"/>
			<xs:enumeration value="TAXS"/>
			<xs:enumeration value="TRAD"/>
			<xs:enumeration value="VATX"/>
			<xs:enumeration value="HEDG"/>
			<xs:enumeration value="INTC"/>
			<xs:enumeration value="WHLD"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="PaymentIdentification1">
		<xs:sequence>
			<xs:element name="InstrId" type="RestrictedIdentification1" minOccurs="0"/>
			<xs:element name="EndToEndId" type="RestrictedIdentification2"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PaymentInstructionInformationSCT">
		<xs:sequence>
			<xs:element name="PmtInfId" type="RestrictedIdentification2" minOccurs="0">
				<xs:annotation>
					<xs:documentation>It is recommended to provide Payment Information Identification.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PmtMtd" type="PaymentMethodSCTCode"/>
			<xs:element name="PmtTpInf" type="PaymentTypeInformationSCT1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>If used, it is recommended to be used only at ‘Payment Information’ level and not at Credit Transfer Transaction Information’ level.
When Instruction Priority is to be used, ‘Payment Type Information’ must be present at ‘Payment Information’ level. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ReqdExctnDt" type="ISODate"/>
			<xs:element name="Dbtr" type="PartyIdentificationSCT2"/>
			<xs:element name="DbtrAcct" type="CashAccountSCT1"/>
			<xs:element name="DbtrAgt" type="BranchAndFinancialInstitutionIdentificationSCT"/>
			<xs:element name="UltmtDbtr" type="PartyIdentificationSCT1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This data element may be present either at ‘Payment Information’ or at ‘Credit Transfer Transaction Information’ level.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ChrgBr" type="ChargeBearerTypeSCTCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>It is recommended that this element be specified at ‘Payment Information’ level.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CdtTrfTxInf" type="CreditTransferTransactionInformationSCT" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="PaymentMethodSCTCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="TRF"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="PaymentTypeInformationSCT1">
		<xs:sequence>
			<xs:element name="InstrPrty" type="Priority2Code" minOccurs="0">
				<xs:annotation>
					<xs:documentation>If present, pre-agreed customer-to-bank conditions apply.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SvcLvl" type="ServiceLevelSCT"/>
			<xs:element name="CtgyPurp" type="PaymentCategoryPurpose1Code" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Depending on the agreement between the Originator and the Originator Bank, ‘Category Purpose’ may be forwarded to the Beneficiary Bank.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PaymentTypeInformationSCT2">
		<xs:sequence>
			<xs:element name="SvcLvl" type="ServiceLevelSCT"/>
			<xs:element name="CtgyPurp" type="PaymentCategoryPurpose1Code" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Depending on the agreement between the Originator and the Originator Bank, ‘Category Purpose’ will be forwarded to the Beneficiary Bank.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PersonIdentification3">
		<xs:sequence>
			<xs:choice>
				<xs:element name="DrvrsLicNb" type="Max35Text"/>
				<xs:element name="CstmrNb" type="Max35Text"/>
				<xs:element name="SclSctyNb" type="Max35Text"/>
				<xs:element name="AlnRegnNb" type="Max35Text"/>
				<xs:element name="PsptNb" type="Max35Text"/>
				<xs:element name="TaxIdNb" type="Max35Text"/>
				<xs:element name="IdntyCardNb" type="Max35Text"/>
				<xs:element name="MplyrIdNb" type="Max35Text"/>
				<xs:element name="DtAndPlcOfBirth" type="DateAndPlaceOfBirth"/>
				<xs:element name="OthrId" type="GenericIdentification4"/>
			</xs:choice>
			<xs:element name="Issr" type="Max35Text" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PostalAddressSCT">
		<xs:sequence>
			<xs:element name="AdrLine" type="Max70Text" minOccurs="0" maxOccurs="2"/>
			<xs:element name="Ctry" type="CountryCode"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="Priority2Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="HIGH"/>
			<xs:enumeration value="NORM"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="PurposeSCT">
		<xs:sequence>
			<xs:element name="Cd" type="ExternalPurposeCode">
				<xs:annotation>
					<xs:documentation>Only codes from the ISO 20022 ExternalPurposeCode list are allowed.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RemittanceInformationSCTChoice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Ustrd" type="Max140Text"/>
				<xs:element name="Strd" type="StructuredRemittanceInformationSCT"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="RestrictedIdentification1">
		<xs:restriction base="xs:string">
			<xs:pattern value="([A-Za-z0-9]|[\+|\?|/|\-|:|\(|\)|\.|,|']){1,35}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RestrictedIdentification2">
		<xs:restriction base="xs:string">
			<xs:pattern value="([A-Za-z0-9]|[\+|\?|/|\-|:|\(|\)|\.|,|'| ]){1,35}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ServiceLevelSCTCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="SEPA"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ServiceLevelSCT">
		<xs:sequence>
			<xs:element name="Cd" type="ServiceLevelSCTCode"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StructuredRemittanceInformationSCT">
		<xs:sequence>
			<xs:element name="CdtrRefInf" type="CreditorReferenceInformationSCT" minOccurs="0">
				<xs:annotation>
					<xs:documentation>When present, the Debtor Bank is not obliged to validate the the reference information. </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="pain.001.001.02">
		<xs:sequence>
			<xs:element name="GrpHdr" type="GroupHeaderSCT"/>
			<xs:element name="PmtInf" type="PaymentInstructionInformationSCT" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
